%div.list-block.span6
  %h3.list-header Photos
  %div#photos.list-body

%div#modal-background

%div#modal
  %img

%script#photo-template{ type: 'text/x-handlebars-template' }
  %img.photo{ src: "{{photo_link}}", "data-link" => "{{highres_link}}"}

-content_for(:nav) do
  .nav
    =link_to "About", "/about", :class => "first"
    =link_to "Home", "/"